body{
    background-image: url("https://s3.envato.com/files/322267197/stevanzz_04475.jpg");
    
    max-height: fit-content;
    
    
}
.name{
    text-align: center;
    font-size: xx-large;
}
.desci{
    display: flex;
    justify-items: auto;

}

.image{
    width: 500px;
    height: 400px;
}


.description{
    
    margin-left: 3%;
    padding: 20px;
    max-width: 500px;
    min-height: fit-content;
    text-align: justify;
    font-size: larger;

}

.ingres { 
    display: flex;
    justify-items: auto;
    min-height: fit-content;
        }

.ingres h2 {text-align: center;}

.listaing{
    min-height: fit-content;
    width: 400px;
    margin: 50px;
    padding: 20px;
    font-size: larger;
    }

.ingres img{
    width: 600px;
    height: 500px;
    margin: 50px;
}


.preparation {
    text-align: justify;
    max-width: fit-content;
    margin: auto;
    font-size: larger;
   
   
}
.preparation h2{
    text-align: center;
}

.preparation h3{
    text-align: center;
}

.relacionadas{
    margin-top: 4%;
}

.autor{
    margin: top 4%; ;
}