
body{
    font-family: 'Bubblegum Sans';
    background-image: url(../imagenes/img_index.jpg);
}

.cabecera{
    background-color: black;
    margin-left: -20px;
    margin-top: -20px;
    text-align: left;
    font-size: 30px;
    color:#E8F837;
    align-items: center;
}

div.cabecera > div{
    display: inline-block;
}

.texto_cabecera{
    margin-left: 40px;
    vertical-align: top;
}
h3{
    margin-top: -40px;
    margin-left: 40px;
    
}

#img_logo{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    background: #E8F837;
    padding: 15px;
    height: 40px;
    border-radius: 30px;
    margin-left: 350px;
    margin-top: 100px;
    position: absolute;
   
}

.buscar_texto{
    border:none;
    background: none;
    outline: none;
    color:black;
    font-size: 20px;
    transition: .3s;
    width: 0;
}

.boton{
    width: 40px;
    height: 40px;
    color:black;
    font-size: 30px;
    text-decoration: none;
    font-size: 30px;
}

.social_media a{
    display: inline-flex;
    color:white;
    background: none;
    text-decoration: none;
    transition: transform 0.4s;
}

.social_media a:hover{
    transform: scale(1.3);
}

.social_media{
    margin-left: 700px;
    margin-bottom: 10px;
}
main{
    margin-left: 750px;
    font-size: 25px;
}

#presentacion_pag{
    color:#E8F837;
    margin-right: 50px;
    margin-top: 250px;
    
}
#enlace_ing{
    color:white;
    margin-left: 200px;
    margin-top: 100px;
    text-decoration: none;
    
}

/*Menú*/
nav ul{
    list-style: none;
}
.menu li a{
    padding: 10px 15px;
    text-decoration: none;
    color:#E8F837;
    display:block;
}

.menu > li{
   float: left;

}

.menu li a:hover{
    background-color: black;
}

.menu li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
}

.menu {
    display: block;
    margin-left: 50px;
    font-size:35px;
}
.enlace_nav{
    display: inline-block;
    margin-top: 10px;
    margin-left: 45px;
    padding-right: 60px;
    color:#E8F837;
    text-decoration: none;
}

/*Final Menú*/

#heroes{
    color:#E8F837;
    margin-top: 50px;
    font-size: 30px;

}

#autores{
    color:white;
    margin-right: 50px;
}

#conocelos{
    background-color:#E8F837;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding:10px;
    margin-left:320px;
    margin-top: 20px;
    font-family:'Bubblegum Sans';
}
#enl_conocelos{
    color:black;
    text-align: center;
    font-size:25px;
}
#inicio{
    color:#E8F837;
    margin-left: 20px;
    font-size:25px;
}


/*Responsive*/

/*Tamaño móvil*/
@media screen and (min-width:480px) {
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
}   
/*Tamaño tablet*/
@media screen and (min-width:768px) {
    .buscar:hover > .buscar_texto{
        width: 380px;
    }
}
/*Tamaño ordenador*/
@media screen and (min-width:1024px) {
    .buscar:hover > .buscar_texto{
        width: 300px;
    }
}
