
body{
    font-family: 'Bubblegum Sans';
    background-image: url(../imagenes/img_index.jpg);
    max-height: fit-content;
}
/*
.contenedor{
    width: 100%;
    max-width:1760px;  ;
    margin:0 auto;
    overflow: hidden;

}
*/
.cabecera{
    background-color: black;
    margin-left: -20px;
    margin-top: -20px;
    text-align: left;
    font-size: 30px;
    color:#E8F837;
    align-items: center;
}

div.cabecera > div{
    display: inline-block;
}

.texto_cabecera{
    margin-top: 10px;
    margin-left: 40px;
    vertical-align: top;
}
h3{
    margin-top: -40px;
    margin-left: 40px;
    
}

#img_logo{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    background: #E8F837;
    padding: 15px;
    height: 60px;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 110px;
    position: absolute;
    align-items: center;
}

.buscar_texto{
    border:none;
    background: none;
    outline: none;
    color:black;
    font-size: 20px;
    transition: .3s;
    width: 0;
}

.boton{
    width: 40px;
    height: 40px;
    color:black;
    font-size: 30px;
    text-decoration: none;
}

.social_media a{
    display: inline-flex;
    color:white;
    background: none;
    text-decoration: none;
    transition: transform 0.4s;
}

.social_media a:hover{
    transform: scale(1.3);
}

.social_media{
    margin-left: 1230px;
    margin-bottom: 10px;
}
main{
    margin-left: 750px;
    font-size: 25px;
}

#presentacion_pag{
    color:#E8F837;
    margin-right: 50px;
    margin-top: 200px;
    
}
#enlace_ing{
    color:white;
    margin-left: 150px;
    margin-top: 100px;
    text-decoration: none;
    
}

/*Menú*/
nav ul{
    list-style: none;
}
.menu li a{
    padding: 10px 15px;
    text-decoration: none;
    color:#E8F837;
    display:block;
}

.menu > li{
   float: left;

}

.menu li a:hover{
    background-color: black;
}

.menu li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
}

.menu {
    display: block;
    margin-left: 50px;
    font-size:35px;
}
.enlace_nav{
    display: inline-block;
    margin-top: -40px;
    margin-left: 45px;
    padding-right: 60px;
    color:#E8F837;
    text-decoration: none;
}

/*Final Menú*/

#heroes{
    color:#E8F837;
    margin-top: 50px;
    font-size: 30px;

}

#autores{
    color:white;
    margin-right: 50px;
}

#conocelos{
    background-color:#E8F837;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding:10px;
    margin-left:0px;
    margin-top: 20px;
    font-family:'Bubblegum Sans';
}
#enl_conocelos{
    color:black;
    text-align: center;
    text-decoration: none;
    font-size:25px;
}
#inicio{
    color:#E8F837;
    margin-left: 20px;
    font-size:25px;
}


/*Responsive*/
*{
    box-sizing: border-box;
}

/*Tamaño móvil*/
@media screen and (min-width:480px) {
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
}   
/*Tamaño tablet*/
@media screen and (min-width:768px) {
    .buscar:hover > .buscar_texto{
        width: 380px;
    }
   
}
/*Tamaño ordenador*/
@media screen and (min-width:1024px) {
    .buscar:hover > .buscar_texto{
        width: 300px;
    }
}
/*
* {
    box-sizing: border-box;
    font-family: "Bubblegum Sans";
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding:15px;
   
}
 /* For desktop: 
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}

/* For mobile phones: 
[class*="col-"] {
    width: 100%;
    
}
