body{
    background-image: url("https://s3.envato.com/files/322267197/stevanzz_04475.jpg");   
    max-height: fit-content;
    font-family: 'Bubblegum Sans';    
    }

.name{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    }

.desci{
    display: flex;
    justify-items: auto;
    }

.image {
    width: 500px;
    height: 400px;
    margin-right: 10%;
    }


.description{    
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    max-width: 500px;
    height: fit-content;
    text-align: justify;
    font-size: larger;
    background-color: rgb(130, 160, 160);
    }

.ingres { 
    display: flex;
    justify-items: auto;
    min-height: fit-content;
    max-width: fit-content;
    margin-top: 5%;
    }

.ingres h2 {text-align: center;}

.listaing{
    height: fit-content;
    width: 400px;
    margin: 50px;
    padding: 20px;
    font-size: larger;
    background-color: rgb(135, 185, 166);
    }

.ingres img{
    width: 600px;
    height: 500px;
    margin: 50px;
    }


.preparation {
    padding: 20px;
    text-align: justify;
    max-width: fit-content;
    margin: auto;
    font-size: larger;
    background-image: linear-gradient( to bottom right, rgb(171, 224, 221), rgb(169, 241, 178));
    }

.preparation h2{
    text-align: center;
    }

.preparation h3{
    text-align: center;
    }

.relacionadas{
    margin-top: 4%;
    }

.autor{
    margin: top 4%; ;
    }

.galletasmatcha img{
    width: 400px;
    height: 400px;
    margin-left: 8%;
    }

.hamburguesacas img{
    width: 600px;
    height: 500px;
    }


@media only screen and (max-width: 768px) {
        *{
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
    
        .listaing{
            max-width: fit-content;
        }
    
        .ingres img{
            width: 100%;
            height: auto;
            margin-left: 0%;
           }

}
   
ul{
    list-style-type: square;
}
